body {
    background-color: #253120;
    margin: 0;
    padding: 0;
}

  /* Estilo para el menú fijo superior */
.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #000; /* negro total para la barra */
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid #dee2e6;
}
  /* Ítems del menú */
.admin-item {
    float: left;
}

.admin-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.admin-item a:hover {
    background-color: #575757;
}

  /* Estilo para tarjetas */
.card {
    border: none;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

  /* Ajustes responsivos para navbar */
@media (max-width: 768px) {
    .main-menu {
    text-align: center;
    padding: 1rem 0;
    }
    .admin-item {
    float: none;
    display: inline-block;
    }
}  