{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list %}


{% block title %}{% if cl.formset and cl.formset.errors %}{% translate "Error:" %} {% endif %}{{ block.super }}{% endblock %}
{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "admin/css/changelists.css" %}">
  {% if cl.formset %}
    <link rel="stylesheet" href="{% static "admin/css/forms.css" %}">
  {% endif %}
  {% if cl.formset or action_form %}
    <script src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
<script src="{% static 'admin/js/filters.js' %}" defer></script>
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{{ cl.opts.app_config.verbose_name }}</a>
&rsaquo; {{ cl.opts.verbose_name_plural|capfirst }}
</div>
{% endblock %}
{% endif %}

{% block coltype %}{% endblock %}

{% comment %} {% block object-tools %}
<ul class="object-tools">
  {% block object-tools-items %}
    {% change_list_object_tools %}
  {% endblock %}
</ul>
{% endblock %} {% endcomment %}

{% block content %}
  <div id="content-main">
    {% if cl.formset and cl.formset.errors %}
        <p class="errornote">
        {% blocktranslate count counter=cl.formset.total_error_count %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktranslate %}
        </p>
        {{ cl.formset.non_form_errors }}
    {% endif %}
    <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
      <div class="changelist-form-container">
        {% comment %} {% block search %}{% search_form cl %}{% endblock %}
        {% block date_hierarchy %}{% if cl.date_hierarchy %}{% date_hierarchy cl %}{% endif %}{% endblock %} {% endcomment %}
        {# --- INICIO DE TU NUEVA ESTRUCTURA DE BUSCADOR Y BOTÓN DE MODAL --- #}
        <div class="search-and-filter-trigger-container">
            <div id="changelist-search">
                {% search_form cl %}
            </div>
                        
            {% if cl.opts.model_name == 'usuario' %}
                <button type="button" class="button custom-filter-button" id="openFilterModal">
                    <img src="{% static 'admin/img/filter-icon.svg' %}" alt="Filtro" width="16" height="16">
                    Filtros
                </button>
            {% endif %}


            {% comment %} boton de añadir usuarios/productos/inventario {% endcomment %}
            {% block object-tools %}
            <ul class="object-tools">
              {% block object-tools-items %}
                {% change_list_object_tools %}
              {% endblock %}
            </ul>
            {% endblock %}


        </div>
        {# --- FIN DE TU NUEVA ESTRUCTURA --- #}

        {# --- INICIO DEL MODAL DE FILTROS --- #}
        {% if cl.opts.model_name == 'usuario' %}
            <div id="filterModal" class="modal">
                <div class="modal-content">
                    <span class="close-button">&times;</span>
                    <h2>Opciones de Filtro</h2>

                    <div class="modal-filters-body">
                        {# Aquí van tus opciones de filtro #}
                        <div class="filter-group">
                            <h3>Por activo</h3>
                            <ul>
                                <li><a href="?is_active__exact=1{% for key, value in cl.params.items %}{% if key != 'is_active__exact' and key != 'q' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Sí</a></li>
                                <li><a href="?is_active__exact=0{% for key, value in cl.params.items %}{% if key != 'is_active__exact' and key != 'q' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">No</a></li>
                                <li><a href="?{% for key, value in cl.params.items %}{% if key != 'is_active__exact' and key != 'q' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Todo</a></li>
                            </ul>
                        </div>

                        <div class="filter-group">
                            <h3>Por rol</h3>
                            <ul>
                                <li><a href="?rol__exact=administrador{% for key, value in cl.params.items %}{% if key != 'rol__exact' and key != 'q' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">administrador</a></li>
                                <li><a href="?rol__exact=mesero{% for key, value in cl.params.items %}{% if key != 'rol__exact' and key != 'q' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">mesero</a></li>
                                <li><a href="?{% for key, value in cl.params.items %}{% if key != 'rol__exact' and key != 'q' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Todo</a></li>
                            </ul>
                        </div>

                        <div class="filter-group">
                            <h3>Por es staff</h3>
                            <ul>
                                <li><a href="?is_staff__exact=1{% for key, value in cl.params.items %}{% if key != 'is_staff__exact' and key != 'q' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Sí</a></li>
                                <li><a href="?is_staff__exact=0{% for key, value in cl.params.items %}{% if key != 'is_staff__exact' and key != 'q' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">No</a></li>
                                <li><a href="?{% for key, value in cl.params.items %}{% if key != 'is_staff__exact' and key != 'q' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Todo</a></li>
                            </ul>
                        </div>

                        <div class="filter-group">
                            <h3>Por estado de superusuario</h3>
                            <ul>
                                <li><a href="?is_superuser__exact=1{% for key, value in cl.params.items %}{% if key != 'is_superuser__exact' and key != 'q' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Sí</a></li>
                                <li><a href="?is_superuser__exact=0{% for key, value in cl.params.items %}{% if key != 'is_superuser__exact' and key != 'q' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">No</a></li>
                                <li><a href="?{% for key, value in cl.params.items %}{% if key != 'is_superuser__exact' and key != 'q' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Todo</a></li>
                            </ul>
                        </div>
                    </div> {# Fin modal-filters-body #}

                    <div class="modal-footer">
                        <button type="button" class="button default" id="resetFiltersButton">Reiniciar filtros</button>
                        <button type="button" class="button" id="applyFiltersButton">Aplicar filtros</button>
                    </div>
                </div>
            </div>
        {% endif %}
        {# --- FIN DEL MODAL DE FILTROS --- #}

        <form id="changelist-form" method="post"{% if cl.formset and cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %} novalidate>{% csrf_token %}
        {% if cl.formset %}
          <div>{{ cl.formset.management_form }}</div>
        {% endif %}

        {% block result_list %}
          {% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}
          {% result_list cl %}
          {% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}
        {% endblock %}
        {% block pagination %}{% pagination cl %}{% endblock %}
        </form>

        {% comment %} MODAL PARA ELIMINAR USUARIOS {% endcomment %}

        <div id="delete-confirmation-modal" class="modal">
            <div class="modal-content">
                <span class="close-button">&times;</span>
                <h2>Confirmar Eliminación</h2>
                <p>¿Estás seguro de que quieres eliminar <strong id="object-name-to-delete"></strong>?</p>
                <div class="modal-buttons">
                    <button id="confirm-delete-button" class="button button-red">Eliminar</button>
                    <button id="cancel-delete-button" class="button">Cancelar</button>
                </div>
            </div>
        </div>      

        
      </div>
      {% comment %} {% block filters %}
        {% if cl.has_filters %}
          <nav id="changelist-filter" aria-labelledby="changelist-filter-header">
            <h2 id="changelist-filter-header">{% translate 'Filter' %}</h2>
            {% if cl.is_facets_optional or cl.has_active_filters %}<div id="changelist-filter-extra-actions">
              {% if cl.is_facets_optional %}<h3>
                {% if cl.add_facets %}<a href="{{ cl.remove_facet_link }}" class="hidelink">{% translate "Hide counts" %}</a>
                {% else %}<a href="{{ cl.add_facet_link }}" class="viewlink">{% translate "Show counts" %}</a>{% endif %}
              </h3>{% endif %}
              {% if cl.has_active_filters %}<h3>
                <a href="{{ cl.clear_all_filters_qs }}">&#10006; {% translate "Clear all filters" %}</a>
              </h3>{% endif %}
            </div>{% endif %}
            {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
          </nav>
        {% endif %}
      {% endblock %} {% endcomment %}
    </div>
  </div>
{% endblock %}

{% block extrajs %}
    {{ block.super }} {# ¡IMPORTANTE! Esto carga los JS base de Django Admin #}
    {# CONDICIONAL: Solo carga el JS del modal si el modelo es 'usuario' #}
    {% if cl.opts.model_name == 'usuario' %}
        <script src="{% static 'admin_personalizado/js_panel/bar_filtro.js' %}"></script>
    {% endif %}
{% endblock %}
