{% load static %}
{% csrf_token %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mesas - Gastro Bar</title>
    <link rel="stylesheet" href="{% static 'css/mesas.css' %}">
    <link rel="stylesheet" href="{% static 'css/mesas_principal.css' %}">

    
</head>
<body>
    <!-- Menú superior ... (igual que tu código) -->

    <!-- Fondo con capa oscura -->
    <div class="background-overlay"></div>

    <!-- Sección de Mesas -->
    <div class="mesas-section">
        <h2>Mesas</h2>
        <div class="mesas-grid">
            {% for mesa in mesas %}
                <div class="mesa" data-mesa-id="{{ mesa.id }}" data-numero-mesa="{{ mesa.numero }}">
                    <i class="fas fa-chair"></i>
                    <h3>Mesa {{ mesa.numero }}</h3>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Sección de Pedidos -->
    <div class="pedido-section" id="pedido-section">
        <h3>Pedido de la Mesa <span id="mesa-seleccionada"></span></h3>
        <table>
            <thead>
                <tr>
                    <th >Producto</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="pedido-body">
                <!-- Aquí se agregan filas de productos dinámicamente -->
            </tbody>
        </table>
        <div class="pedido">
            <button id="agregar-producto-btn" data-url="{% url 'cervezas' %}">Agregar Producto</button>

            <p>Total del Pedido: $<span id="total-pedido">0.00</span></p>
            <p>Cantidad total: <span id="cantidad-total-pedido">0</span></p>

            <select class="medio-pago">
                <option value="efectivo">Efectivo</option>
                <option value="tarjeta">Tarjeta</option>
                <option value="transferencia">Transferencia</option>
            </select>

            <button class="finalizar-pedido-btn">Finalizar Pedido</button>
        </div>

    </div>

    <!-- Footer -->
    <footer>
        <div class="footer-bottom">
            <p>&copy; 2025 Restaurante Nombre. Todos los derechos reservados.</p>
        </div>
    </footer>

    <script src="{% static 'js/mesas.js' %}"></script>
    <script src="{% static 'js/mesero_principal.js' %}"></script> 
</body>


</html>