.custom-sidebar {
    background-color: #1A3330;
}

.action-item {
    background: #34495e;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-right: 10px;
}

.recent-actions-container{
    justify-items: center;
    
}


.recent-actions-container h2{
    color: white;
}

.recent-actions-list {
    color: rgb(255, 255, 255);
    display: flex; /* Convertir la lista en un contenedor flex */
    flex-direction: column; /* Alinear los items verticalmente (uno debajo del otro) */
    align-items: center; /* Centrar los items horizontalmente dentro del contenedor flex */
    padding: 0 10px; /* Eliminar el padding predeterminado de la lista si lo deseas */

}

.recent-actions-list li {
    list-style-type: none;
    margin-right: 10px; /* Mantiene el espaciado a la derecha de cada item */
    width: 100%; /* Asegura que los items ocupen todo el ancho para que align-items funcione */
    text-align: center; /* Centrar el texto dentro de cada item li */
}



.recent-actions-scroll{

}

/* .action-header {
    color: white;
} */

.action-content a {
    color: white;

}

