/* Estilo general de la barra lateral */
.custom-sidebar {
    background-color: #060606;
    padding: 10px;
    height: 100vh; /* Asegura que la barra lateral ocupe toda la altura */
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/* Contenedor de Actividad Reciente */
.recent-actions-container {
    height: 50vh; /* Ocupa la mitad de la altura */
    overflow-y: auto; /* Scroll si el contenido excede */
    margin-bottom: 20px;
    background-color: #121212;
    border-radius: 8px;
    padding: 10px;
}

/* Título de la sección */
.recent-actions-container h2 {
    color: white;
    margin-top: 0;
}

/* Lista de acciones recientes */
.recent-actions-list {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

/* Estilo de cada ítem de acción */
.recent-actions-list li {
    list-style-type: none;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

/* Estilo individual de la acción */
.action-item {
    background: #34495e;
    padding: 10px;
    border-radius: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
}

/* Enlaces dentro de las acciones */
.action-content a {
    color: white;
    text-decoration: none;
}

.action-content a:hover {
    text-decoration: underline;
}
